In [170]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta

In [171]:
df = pd.read_csv("../preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [172]:
def evaluateModel(df, predictedColumnName):
    validDf = df.dropna(subset=["Value", predictedColumnName])
    
    if len(validDf) == 0:
        return {
            "mse": np.nan,
            "rmse": np.nan,
            "mae": np.nan,
            "mape": np.nan
        }
    
    actual = validDf["Value"]
    predicted = validDf[predictedColumnName]
    
    mse = np.mean((actual - predicted) ** 2)
    
    rmse = np.sqrt(mse)
    
    mae = np.mean(np.abs(actual - predicted))
    
    nonZeroActual = actual[actual != 0]
    nonZeroPredicted = predicted[actual != 0]
    
    if len(nonZeroActual) > 0:
        mape = np.mean(np.abs((nonZeroActual - nonZeroPredicted) / nonZeroActual)) * 100
    else:
        mape = np.nan
    
    return {
        "mse": mse,
        "rmse": rmse,
        "mae": mae,
        "mape": mape
    }

In [173]:
def movingAvg(data, windowSize):
    weights = np.ones(windowSize) / windowSize
    return np.convolve(data, weights, mode='valid')


def predictWithMovingAvg(data, windowSize):
    predictions = []
    workingData = data.copy()
    
    for _ in range(windowSize):
        nextValue = np.mean(workingData[-windowSize:])
        predictions.append(nextValue)
        workingData = np.append(workingData, nextValue)
    
    return predictions

In [174]:
def execMovingAvg(windowSize):
	ma = movingAvg(df["Value"].values, windowSize)


	# we are not predicting the first x row, x being the windowSize
	paddedMa = np.pad(ma, (windowSize-1, 0), 'constant', constant_values=np.nan)
	paddedMa


	df['MovingAvg'] = paddedMa


	# prediction
	lastDate = df['Date'].iloc[-1]
	lastDate = pd.to_datetime(lastDate)

	predictions = predictWithMovingAvg(df["Value"].values, windowSize)

	futureDates = []
	futureValues = []
	futureMovingAvgs = []

	for i in range(windowSize):
		newDate = lastDate + relativedelta(months=i+1)
		futureDates.append(newDate.strftime('%Y-%m-%d')) 
		futureValues.append(np.nan)
		futureMovingAvgs.append(predictions[i])

	futureDf = pd.DataFrame({
		'Date': futureDates,
		'Value': futureValues,
		'MovingAvg': futureMovingAvgs
	})

	extendedDf = pd.concat([df, futureDf], ignore_index=True)

	print(evaluateModel(df, "MovingAvg"), "\n")

	# i wanna see all
	print(extendedDf.to_string())
	return extendedDf

In [175]:
df = execMovingAvg(12)
df

{'mse': np.float64(6.246450084296788), 'rmse': np.float64(2.4992899160155044), 'mae': np.float64(2.151112716763011), 'mape': np.float64(0.5261777694568053)}

           Date   Value   MovingAvg
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41         NaN
2    2010-03-01  391.37         NaN
3    2010-04-01  392.67         NaN
4    2010-05-01  393.21         NaN
5    2010-06-01  392.38         NaN
6    2010-07-01  390.41         NaN
7    2010-08-01  388.54         NaN
8    2010-09-01  387.03         NaN
9    2010-10-01  387.43         NaN
10   2010-11-01  388.87         NaN
11   2010-12-01  389.99  390.101667
12   2011-01-01  391.50  390.317500
13   2011-02-01  392.05  390.454167
14   2011-03-01  392.80  390.573333
15   2011-04-01  393.44  390.637500
16   2011-05-01  394.41  390.737500
17   2011-06-01  393.95  390.868333
18   2011-07-01  392.72  391.060833
19   2011-08-01  390.33  391.210000
20   2011-09-01  389.28  391.397500
21   2011-10-01  389.19  391.544167
22   2011-11-01  390.48  391.678333
23   2011-12-01  392.06  391.850833
24   2012-01-01  393.31  392.001667
25   2012-02-01  394.04  392.167500
26   2012-03-01  394.59  392.316667
27   2012-04-01  396.38  392.561667
28   2012-05-01  396.93  392.771667
29   2012-06-01  395.91  392.935000
30   2012-07-01  394.56  393.088333
31   2012-08-01  392.59  393.276667
32   2012-09-01  391.32  393.446667
33   2012-10-01  391.27  393.620000
34   2012-11-01  393.20  393.846667
35   2012-12-01  394.57  394.055833
36   2013-01-01  395.78  394.261667
37   2013-02-01  397.03  394.510833
38   2013-03-01  397.66  394.766667
39   2013-04-01  398.64  394.955000
40   2013-05-01  400.02  395.212500
41   2013-06-01  398.81  395.454167
42   2013-07-01  397.51  395.700000
43   2013-08-01  395.39  395.933333
44   2013-09-01  393.72  396.133333
45   2013-10-01  393.90  396.352500
46   2013-11-01  395.36  396.532500
47   2013-12-01  397.03  396.737500
48   2014-01-01  398.04  396.925833
49   2014-02-01  398.27  397.029167
50   2014-03-01  399.91  397.216667
51   2014-04-01  401.51  397.455833
52   2014-05-01  401.96  397.617500
53   2014-06-01  401.43  397.835833
54   2014-07-01  399.27  397.982500
55   2014-08-01  397.18  398.131667
56   2014-09-01  395.54  398.283333
57   2014-10-01  396.16  398.471667
58   2014-11-01  397.40  398.641667
59   2014-12-01  399.08  398.812500
60   2015-01-01  400.18  398.990833
61   2015-02-01  400.55  399.180833
62   2015-03-01  401.74  399.333333
63   2015-04-01  403.35  399.486667
64   2015-05-01  404.15  399.669167
65   2015-06-01  402.97  399.797500
66   2015-07-01  401.46  399.980000
67   2015-08-01  399.11  400.140833
68   2015-09-01  397.82  400.330833
69   2015-10-01  398.49  400.525000
70   2015-11-01  400.27  400.764167
71   2015-12-01  402.06  401.012500
72   2016-01-01  402.73  401.225000
73   2016-02-01  404.25  401.533333
74   2016-03-01  405.06  401.810000
75   2016-04-01  407.60  402.164167
76   2016-05-01  407.90  402.476667
77   2016-06-01  406.99  402.811667
78   2016-07-01  404.59  403.072500
79   2016-08-01  402.45  403.350833
80   2016-09-01  401.23  403.635000
81   2016-10-01  401.79  403.910000
82   2016-11-01  403.72  404.197500
83   2016-12-01  404.64  404.412500
84   2017-01-01  406.36  404.715000
85   2017-02-01  406.65  404.915000
86   2017-03-01  407.53  405.120833
87   2017-04-01  409.22  405.255833
88   2017-05-01  409.89  405.421667
89   2017-06-01  409.08  405.595833
90   2017-07-01  407.33  405.824167
91   2017-08-01  405.32  406.063333
92   2017-09-01  403.57  406.258333
93   2017-10-01  403.82  406.427500
94   2017-11-01  405.31  406.560000
95   2017-12-01  407.00  406.756667
96   2018-01-01  408.15  406.905833
97   2018-02-01  408.52  407.061667
98   2018-03-01  409.59  407.233333
99   2018-04-01  410.45  407.335833
100  2018-05-01  411.44  407.465000
101  2018-06-01  410.99  407.624167
102  2018-07-01  408.90  407.755000
103  2018-08-01  407.16  407.908333
104  2018-09-01  405.71  408.086667
105  2018-10-01  406.19  408.284167
106  2018-11-01  408.21  408.525833
107  2018-12-01  409.27  408.715000
108  2019-01-01  411.03  408.955000
109  2019-02-01  411.96  409.241667
110  2019-03-01  412.18  409.457500
111  2019-04-01  413.54  409.715000
112  2019-05-01  414.86  410.000000
113  2019-06-01  414.15  410.263333
114  2019-07-01  411.96  410.518333
115  2019-08-01  410.17  410.769167
116  2019-09-01  408.76  411.023333
117  2019-10-01  408.74  411.235833
118  2019-11-01  410.47  411.424167
119  2019-12-01  411.97  411.649167
120  2020-01-01  413.59  411.862500
121  2020-02-01  414.32  412.059167
122  2020-03-01  414.72  412.270833
123  2020-04-01  416.42  412.510833
124  2020-05-01  417.28  412.712500
125  2020-06-01  416.58  412.915000
126  2020-07-01  414.58  413.133333
127  2020-08-01  412.75  413.348333
128  2020-09-01  411.50  413.576667
129  2020-10-01  411.49  413.805833
130  2020-11-01  413.10  414.025000
131  2020-12-01  414.23  414.213333
132  2021-01-01  415.49  414.371667
133  2021-02-01  416.72  414.571667
134  2021-03-01  417.61  414.812500
135  2021-04-01  419.01  415.028333
136  2021-05-01  419.09  415.179167
137  2021-06-01  418.93  415.375000
138  2021-07-01  416.90  415.568333
139  2021-08-01  414.42  415.707500
140  2021-09-01  413.26  415.854167
141  2021-10-01  413.90  416.055000
142  2021-11-01  414.97  416.210833
143  2021-12-01  416.67  416.414167
144  2022-01-01  418.13  416.634167
145  2022-02-01  419.24  416.844167
146  2022-03-01  418.76  416.940000
147  2022-04-01  420.19  417.038333
148  2022-05-01  420.97  417.195000
149  2022-06-01  420.94  417.362500
150  2022-07-01  418.85  417.525000
151  2022-08-01  417.15  417.752500
152  2022-09-01  415.91  417.973333
153  2022-10-01  415.74  418.126667
154  2022-11-01  417.47  418.335000
155  2022-12-01  418.99  418.528333
156  2023-01-01  419.47  418.640000
157  2023-02-01  420.31  418.729167
158  2023-03-01  420.99  418.915000
159  2023-04-01  423.31  419.175000
160  2023-05-01  424.00  419.427500
161  2023-06-01  423.68  419.655833
162  2023-07-01  421.83  419.904167
163  2023-08-01  419.68  420.115000
164  2023-09-01  418.50  420.330833
165  2023-10-01  418.82  420.587500
166  2023-11-01  420.46  420.836667
167  2023-12-01  421.86  421.075833
168  2024-01-01  422.80  421.353333
169  2024-02-01  424.55  421.706667
170  2024-03-01  425.38  422.072500
171  2024-04-01  426.51  422.339167
172  2024-05-01  426.90  422.580833
173  2024-06-01  426.91  422.850000
174  2024-07-01  425.55  423.160000
175  2024-08-01  422.99  423.435833
176  2024-09-01  422.03  423.730000
177  2024-10-01  422.38  424.026667
178  2024-11-01  423.85  424.309167
179  2024-12-01  425.40  424.604167
180  2025-01-01  426.65  424.925000
181  2025-02-01  427.09  425.136667
182  2025-03-01  428.15  425.367500
183  2025-04-01  429.64  425.628333
184  2025-05-01     NaN  425.628333
185  2025-06-01     NaN  425.522361
186  2025-07-01     NaN  425.406725
187  2025-08-01     NaN  425.394785
188  2025-09-01     NaN  425.595184
189  2025-10-01     NaN  425.892282
190  2025-11-01     NaN  426.184972
191  2025-12-01     NaN  426.379554
192  2026-01-01     NaN  426.461183
193  2026-02-01     NaN  426.445448
194  2026-03-01     NaN  426.391736
195  2026-04-01     NaN  426.245214

           Date   Value   MovingAvg
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41         NaN
2    2010-03-01  391.37         NaN
3    2010-04-01  392.67         NaN
4    2010-05-01  393.21         NaN
..          ...     ...         ...
191  2025-12-01     NaN  426.379554
192  2026-01-01     NaN  426.461183
193  2026-02-01     NaN  426.445448
194  2026-03-01     NaN  426.391736
195  2026-04-01     NaN  426.245214

[196 rows x 3 columns]

In [176]:
# Export it
outPath = "/home/alie/kuliah/Sm4/Statistika/finale-statistika/processed-data.csv"
df.to_csv(outPath, index=False)

df

           Date   Value   MovingAvg
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41         NaN
2    2010-03-01  391.37         NaN
3    2010-04-01  392.67         NaN
4    2010-05-01  393.21         NaN
..          ...     ...         ...
191  2025-12-01     NaN  426.379554
192  2026-01-01     NaN  426.461183
193  2026-02-01     NaN  426.445448
194  2026-03-01     NaN  426.391736
195  2026-04-01     NaN  426.245214

[196 rows x 3 columns]