In [ ]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv("../preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [10]:
def evaluateModel(df, predCol):
    # remove rows with NaN predictions for evaluation
    validDf = df.dropna(subset=[predCol, 'Value'])
    
    if len(validDf) == 0:
        return "No valid predictions to evaluate"
    
    actual = validDf['Value']
    predicted = validDf[predCol]
    
    # calculate metrics
    mae = np.mean(np.abs(actual - predicted))
    mse = np.mean((actual - predicted) ** 2)
    rmse = np.sqrt(mse)
    mape = np.mean(np.abs((actual - predicted) / actual)) * 100
    
    return f"MAE: {mae:.4f}, MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAPE: {mape:.4f}%"

In [11]:
def execLinearRegression(steps=12):
    dfCopy = df.copy()
    dfCopy['Date'] = pd.to_datetime(dfCopy['Date'])
    
    # create time index (months since start)
    startDate = dfCopy['Date'].min()
    dfCopy['timeIndex'] = (dfCopy['Date'] - startDate).dt.days / 30.44  # approximate months
    
    x = dfCopy['timeIndex'].values.reshape(-1, 1)
    y = dfCopy['Value'].values
    
    # fit linear regression model
    model = LinearRegression()
    model.fit(x, y)
    
    print(f"Linear Regression Model:")
    print(f"R² Score: {model.score(x, y):.6f}")
    print(f"Coefficient: {model.coef_[0]:.6f}")
    print(f"Intercept: {model.intercept_:.6f}")
    
    # make in-sample predictions
    inSamplePred = model.predict(x)
    
    resultDf = dfCopy.copy()
    resultDf['linearRegPred'] = inSamplePred
    
    # generate future predictions
    lastTimeIndex = dfCopy['timeIndex'].iloc[-1]
    lastDate = dfCopy['Date'].iloc[-1]
    
    futureDates = []
    futureValues = []
    futureLinearReg = []
    
    for i in range(steps):
        newDate = lastDate + relativedelta(months=i+1)
        newTimeIndex = lastTimeIndex + (i + 1)
        
        # predict future value
        futurePred = model.predict([[newTimeIndex]])[0]
        
        futureDates.append(newDate)
        futureValues.append(np.nan)
        futureLinearReg.append(futurePred)
    
    # create future dataframe
    futureDf = pd.DataFrame({
        'Date': futureDates,
        'Value': futureValues,
        'timeIndex': [lastTimeIndex + i + 1 for i in range(steps)],
        'linearRegPred': futureLinearReg
    })
    
    extendedDf = pd.concat([resultDf, futureDf], ignore_index=True)
    
    print("\nModel Evaluation:")
    evaluation = evaluateModel(resultDf, "linearRegPred")
    print(evaluation, "\n")
    
    # format output similar to sarima
    extendedDf['Date'] = extendedDf['Date'].dt.strftime('%Y-%m-%d')
    outputDf = extendedDf[['Date', 'Value', 'linearRegPred']].copy()
    
    print(outputDf.to_string())
    return outputDf

In [12]:
linearRegResults = execLinearRegression(12)

outPath = "../linear-reg-results.csv"
linearRegResults.to_csv(outPath, index=False)

linearRegResults

Linear Regression Model:
R² Score: 0.958588
Coefficient: 0.205238
Intercept: 388.286592

Model Evaluation:
MAE: 1.9399, MSE: 5.1333, RMSE: 2.2657, MAPE: 0.4772%

           Date   Value  linearRegPred
0    2010-01-01  388.91     388.286592
1    2010-02-01  390.41     388.495606
2    2010-03-01  391.37     388.684392
3    2010-04-01  392.67     388.893406
4    2010-05-01  393.21     389.095677
5    2010-06-01  392.38     389.304691
6    2010-07-01  390.41     389.506962
7    2010-08-01  388.54     389.715975
8    2010-09-01  387.03     389.924989
9    2010-10-01  387.43     390.127260
10   2010-11-01  388.87     390.336274
11   2010-12-01  389.99     390.538545
12   2011-01-01  391.50     390.747558
13   2011-02-01  392.05     390.956572
14   2011-03-01  392.80     391.145358
15   2011-04-01  393.44     391.354372
16   2011-05-01  394.41     391.556643
17   2011-06-01  393.95     391.765657
18   2011-07-01  392.72     391.967928
19   2011-08-01  390.33     392.176941
20   2011-09-01  389.28     392.385955
21   2011-10-01  389.19     392.588226
22   2011-11-01  390.48     392.797240
23   2011-12-01  392.06     392.999511
24   2012-01-01  393.31     393.208524
25   2012-02-01  394.04     393.417538
26   2012-03-01  394.59     393.613067
27   2012-04-01  396.38     393.822080
28   2012-05-01  396.93     394.024351
29   2012-06-01  395.91     394.233365
30   2012-07-01  394.56     394.435636
31   2012-08-01  392.59     394.644650
32   2012-09-01  391.32     394.853663
33   2012-10-01  391.27     395.055934
34   2012-11-01  393.20     395.264948
35   2012-12-01  394.57     395.467219
36   2013-01-01  395.78     395.676233
37   2013-02-01  397.03     395.885246
38   2013-03-01  397.66     396.074033
39   2013-04-01  398.64     396.283046
40   2013-05-01  400.02     396.485317
41   2013-06-01  398.81     396.694331
42   2013-07-01  397.51     396.896602
43   2013-08-01  395.39     397.105616
44   2013-09-01  393.72     397.314629
45   2013-10-01  393.90     397.516900
46   2013-11-01  395.36     397.725914
47   2013-12-01  397.03     397.928185
48   2014-01-01  398.04     398.137199
49   2014-02-01  398.27     398.346212
50   2014-03-01  399.91     398.534999
51   2014-04-01  401.51     398.744012
52   2014-05-01  401.96     398.946283
53   2014-06-01  401.43     399.155297
54   2014-07-01  399.27     399.357568
55   2014-08-01  397.18     399.566582
56   2014-09-01  395.54     399.775595
57   2014-10-01  396.16     399.977866
58   2014-11-01  397.40     400.186880
59   2014-12-01  399.08     400.389151
60   2015-01-01  400.18     400.598165
61   2015-02-01  400.55     400.807178
62   2015-03-01  401.74     400.995965
63   2015-04-01  403.35     401.204978
64   2015-05-01  404.15     401.407249
65   2015-06-01  402.97     401.616263
66   2015-07-01  401.46     401.818534
67   2015-08-01  399.11     402.027548
68   2015-09-01  397.82     402.236561
69   2015-10-01  398.49     402.438832
70   2015-11-01  400.27     402.647846
71   2015-12-01  402.06     402.850117
72   2016-01-01  402.73     403.059131
73   2016-02-01  404.25     403.268144
74   2016-03-01  405.06     403.463673
75   2016-04-01  407.60     403.672687
76   2016-05-01  407.90     403.874958
77   2016-06-01  406.99     404.083971
78   2016-07-01  404.59     404.286242
79   2016-08-01  402.45     404.495256
80   2016-09-01  401.23     404.704270
81   2016-10-01  401.79     404.906541
82   2016-11-01  403.72     405.115554
83   2016-12-01  404.64     405.317825
84   2017-01-01  406.36     405.526839
85   2017-02-01  406.65     405.735853
86   2017-03-01  407.53     405.924639
87   2017-04-01  409.22     406.133653
88   2017-05-01  409.89     406.335924
89   2017-06-01  409.08     406.544937
90   2017-07-01  407.33     406.747208
91   2017-08-01  405.32     406.956222
92   2017-09-01  403.57     407.165236
93   2017-10-01  403.82     407.367507
94   2017-11-01  405.31     407.576520
95   2017-12-01  407.00     407.778791
96   2018-01-01  408.15     407.987805
97   2018-02-01  408.52     408.196819
98   2018-03-01  409.59     408.385605
99   2018-04-01  410.45     408.594619
100  2018-05-01  411.44     408.796890
101  2018-06-01  410.99     409.005903
102  2018-07-01  408.90     409.208174
103  2018-08-01  407.16     409.417188
104  2018-09-01  405.71     409.626202
105  2018-10-01  406.19     409.828473
106  2018-11-01  408.21     410.037486
107  2018-12-01  409.27     410.239757
108  2019-01-01  411.03     410.448771
109  2019-02-01  411.96     410.657785
110  2019-03-01  412.18     410.846571
111  2019-04-01  413.54     411.055584
112  2019-05-01  414.86     411.257856
113  2019-06-01  414.15     411.466869
114  2019-07-01  411.96     411.669140
115  2019-08-01  410.17     411.878154
116  2019-09-01  408.76     412.087168
117  2019-10-01  408.74     412.289439
118  2019-11-01  410.47     412.498452
119  2019-12-01  411.97     412.700723
120  2020-01-01  413.59     412.909737
121  2020-02-01  414.32     413.118751
122  2020-03-01  414.72     413.314279
123  2020-04-01  416.42     413.523293
124  2020-05-01  417.28     413.725564
125  2020-06-01  416.58     413.934578
126  2020-07-01  414.58     414.136849
127  2020-08-01  412.75     414.345862
128  2020-09-01  411.50     414.554876
129  2020-10-01  411.49     414.757147
130  2020-11-01  413.10     414.966161
131  2020-12-01  414.23     415.168432
132  2021-01-01  415.49     415.377445
133  2021-02-01  416.72     415.586459
134  2021-03-01  417.61     415.775245
135  2021-04-01  419.01     415.984259
136  2021-05-01  419.09     416.186530
137  2021-06-01  418.93     416.395544
138  2021-07-01  416.90     416.597815
139  2021-08-01  414.42     416.806828
140  2021-09-01  413.26     417.015842
141  2021-10-01  413.90     417.218113
142  2021-11-01  414.97     417.427127
143  2021-12-01  416.67     417.629398
144  2022-01-01  418.13     417.838411
145  2022-02-01  419.24     418.047425
146  2022-03-01  418.76     418.236211
147  2022-04-01  420.19     418.445225
148  2022-05-01  420.97     418.647496
149  2022-06-01  420.94     418.856510
150  2022-07-01  418.85     419.058781
151  2022-08-01  417.15     419.267794
152  2022-09-01  415.91     419.476808
153  2022-10-01  415.74     419.679079
154  2022-11-01  417.47     419.888093
155  2022-12-01  418.99     420.090364
156  2023-01-01  419.47     420.299377
157  2023-02-01  420.31     420.508391
158  2023-03-01  420.99     420.697177
159  2023-04-01  423.31     420.906191
160  2023-05-01  424.00     421.108462
161  2023-06-01  423.68     421.317476
162  2023-07-01  421.83     421.519747
163  2023-08-01  419.68     421.728760
164  2023-09-01  418.50     421.937774
165  2023-10-01  418.82     422.140045
166  2023-11-01  420.46     422.349059
167  2023-12-01  421.86     422.551330
168  2024-01-01  422.80     422.760343
169  2024-02-01  424.55     422.969357
170  2024-03-01  425.38     423.164886
171  2024-04-01  426.51     423.373899
172  2024-05-01  426.90     423.576170
173  2024-06-01  426.91     423.785184
174  2024-07-01  425.55     423.987455
175  2024-08-01  422.99     424.196469
176  2024-09-01  422.03     424.405482
177  2024-10-01  422.38     424.607753
178  2024-11-01  423.85     424.816767
179  2024-12-01  425.40     425.019038
180  2025-01-01  426.65     425.228052
181  2025-02-01  427.09     425.437065
182  2025-03-01  428.15     425.625852
183  2025-04-01  429.64     425.834865
184  2025-05-01     NaN     426.040103
185  2025-06-01     NaN     426.245341
186  2025-07-01     NaN     426.450579
187  2025-08-01     NaN     426.655816
188  2025-09-01     NaN     426.861054
189  2025-10-01     NaN     427.066292
190  2025-11-01     NaN     427.271530
191  2025-12-01     NaN     427.476768
192  2026-01-01     NaN     427.682006
193  2026-02-01     NaN     427.887243
194  2026-03-01     NaN     428.092481
195  2026-04-01     NaN     428.297719

           Date   Value  linearRegPred
0    2010-01-01  388.91     388.286592
1    2010-02-01  390.41     388.495606
2    2010-03-01  391.37     388.684392
3    2010-04-01  392.67     388.893406
4    2010-05-01  393.21     389.095677
..          ...     ...            ...
191  2025-12-01     NaN     427.476768
192  2026-01-01     NaN     427.682006
193  2026-02-01     NaN     427.887243
194  2026-03-01     NaN     428.092481
195  2026-04-01     NaN     428.297719

[196 rows x 3 columns]