In [2]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('../preprocessed-data.csv')
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [4]:
def findOptimalArima(timeSeries, maxP=5, maxD=2, maxQ=5):
    bestAic = np.inf
    bestOrder = None
    
    print("Finding optimal ARIMA parameters...")
    
    for p in range(maxP + 1):
        for d in range(maxD + 1):
            for q in range(maxQ + 1):
                try:
                    model = ARIMA(timeSeries, order=(p, d, q))
                    modelFit = model.fit()
                    
                    if modelFit.aic < bestAic:
                        bestAic = modelFit.aic
                        bestOrder = (p, d, q)
                        
                except:
                    continue
    
    print(f"Best ARIMA order: {bestOrder}")
    print(f"Best AIC: {bestAic}")
    return bestOrder

In [5]:
def evaluateModel(df, predCol):
    # remove rows with NaN predictions for evaluation
    validDf = df.dropna(subset=[predCol, 'Value'])
    
    if len(validDf) == 0:
        return "No valid predictions to evaluate"
    
    actual = validDf['Value']
    predicted = validDf[predCol]
    
    # calculate metrics
    mae = np.mean(np.abs(actual - predicted))
    mse = np.mean((actual - predicted) ** 2)
    rmse = np.sqrt(mse)
    mape = np.mean(np.abs((actual - predicted) / actual)) * 100
    
    return f"MAE: {mae:.4f}, MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAPE: {mape:.4f}%"

In [6]:
# ...existing code...

# fixed ARIMA execution function
def execArima(steps=12):
    # prepare data with proper datetime index
    dfCopy = df.copy()
    dfCopy['Date'] = pd.to_datetime(dfCopy['Date'])
    dfCopy.set_index('Date', inplace=True)
    
    timeSeries = dfCopy['Value']
            
    # fit ARIMA model, no need to run, already run once, its 5 1 5
    # model = ARIMA(timeSeries, order=findOptimalArima(timeSeries))


    model = ARIMA(timeSeries, order=(5,1,5))

    modelFit = model.fit()
    
    print(modelFit.summary())
    
    # make in-sample predictions
    inSamplePred = modelFit.fittedvalues

    # first val will always be 0, need NaN so it doesnt affect plot
    inSamplePred.iloc[0] = np.nan

    # create dataframe with predictions
    resultDf = dfCopy.copy()
    
    resultDf['ArimaPred'] = inSamplePred
    
    # make future predictions
    forecast = modelFit.forecast(steps=steps)
    
    # create future dates
    lastDate = dfCopy.index[-1]
    futureDates = []
    futureValues = []
    futureArima = []
    
    for i in range(steps):
        newDate = lastDate + relativedelta(months=i+1)
        futureDates.append(newDate)
        futureValues.append(np.nan)
        futureArima.append(forecast.iloc[i] if hasattr(forecast, 'iloc') else forecast[i])
    
    # create future dataframe
    futureDf = pd.DataFrame({
        'Value': futureValues,
        'ArimaPred': futureArima
    }, index=futureDates)
    
    # combine historical and future data
    extendedDf = pd.concat([resultDf, futureDf])
    
    # evaluate model
    print("\nModel Evaluation:")
    evaluation = evaluateModel(resultDf.reset_index(), "ArimaPred")
    print(evaluation, "\n")
    
    # reset index to match MVA format
    extendedDf = extendedDf.reset_index()
    extendedDf = extendedDf.rename(columns={'index': 'Date'})
    extendedDf['Date'] = extendedDf['Date'].dt.strftime('%Y-%m-%d')
    
    print(extendedDf.to_string())
    return extendedDf

# ...existing code...

In [7]:
# execute ARIMA model
arimaResults = execArima(12)

# save results
outPath = "../arima-results.csv"
arimaResults.to_csv(outPath, index=False)

arimaResults

                               SARIMAX Results
==============================================================================
Dep. Variable:                  Value   No. Observations:                  184
Model:                 ARIMA(5, 1, 5)   Log Likelihood                -121.987
Date:                Thu, 29 May 2025   AIC                            265.975
Time:                        16:15:05   BIC                            301.279
Sample:                    01-01-2010   HQIC                           280.285
                         - 04-01-2025
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          1.7311      9.656      0.179      0.858     -17.195      20.657
ar.L2         -0.9991     26.372     -0.038      0.970     -52.687      50.689
ar.L3         -0.9991     36.018     -0.028      0.978     -71.594      69.596
ar.L4          1.7307     26.368      0.066      0.948     -49.949      53.410
ar.L5         -0.9996      9.654     -0.104      0.918     -19.921      17.921
ma.L1         -1.7137    179.076     -0.010      0.992    -352.697     349.270
ma.L2          0.9677    246.127      0.004      0.997    -481.433     483.368
ma.L3          0.9897    195.096      0.005      0.996    -381.391     383.371
ma.L4         -1.7043    205.118     -0.008      0.993    -403.729     400.320
ma.L5          0.9874    190.791      0.005      0.996    -372.957     374.932
sigma2         0.2001     38.366      0.005      0.996     -74.995      75.396
===================================================================================
Ljung-Box (L1) (Q):                  15.67   Jarque-Bera (JB):                 5.40
Prob(Q):                              0.00   Prob(JB):                         0.07
Heteroskedasticity (H):               1.21   Skew:                             0.02
Prob(H) (two-sided):                  0.45   Kurtosis:                         3.84
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

Model Evaluation:
MAE: 0.3764, MSE: 0.2306, RMSE: 0.4802, MAPE: 0.0926%

           Date   Value   ArimaPred
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41  388.910322
2    2010-03-01  391.37  391.396034
3    2010-04-01  392.67  391.674916
4    2010-05-01  393.21  393.125008
5    2010-06-01  392.38  393.131400
6    2010-07-01  390.41  391.193888
7    2010-08-01  388.54  388.510702
8    2010-09-01  387.03  387.217378
9    2010-10-01  387.43  386.553377
10   2010-11-01  388.87  388.076491
11   2010-12-01  389.99  390.032922
12   2011-01-01  391.50  390.957580
13   2011-02-01  392.05  392.506165
14   2011-03-01  392.80  392.998853
15   2011-04-01  393.44  393.641138
16   2011-05-01  394.41  393.651570
17   2011-06-01  393.95  393.665912
18   2011-07-01  392.72  392.144856
19   2011-08-01  390.33  390.654428
20   2011-09-01  389.28  388.842773
21   2011-10-01  389.19  389.141033
22   2011-11-01  390.48  390.090571
23   2011-12-01  392.06  391.748850
24   2012-01-01  393.31  393.108995
25   2012-02-01  394.04  394.089285
26   2012-03-01  394.59  394.799158
27   2012-04-01  396.38  395.357264
28   2012-05-01  396.93  396.843036
29   2012-06-01  395.91  396.301221
30   2012-07-01  394.56  394.051996
31   2012-08-01  392.59  392.380413
32   2012-09-01  391.32  391.151054
33   2012-10-01  391.27  391.225124
34   2012-11-01  393.20  392.236734
35   2012-12-01  394.57  394.541145
36   2013-01-01  395.78  395.567876
37   2013-02-01  397.03  396.478522
38   2013-03-01  397.66  397.806349
39   2013-04-01  398.64  398.478884
40   2013-05-01  400.02  399.025208
41   2013-06-01  398.81  399.401004
42   2013-07-01  397.51  396.939237
43   2013-08-01  395.39  395.297751
44   2013-09-01  393.72  393.926434
45   2013-10-01  393.90  393.623798
46   2013-11-01  395.36  394.950347
47   2013-12-01  397.03  396.731878
48   2014-01-01  398.04  398.074408
49   2014-02-01  398.27  398.735516
50   2014-03-01  399.91  398.965801
51   2014-04-01  401.51  400.804192
52   2014-05-01  401.96  402.023794
53   2014-06-01  401.43  401.302721
54   2014-07-01  399.27  399.528122
55   2014-08-01  397.18  396.937436
56   2014-09-01  395.54  395.677762
57   2014-10-01  396.16  395.502449
58   2014-11-01  397.40  397.310716
59   2014-12-01  399.08  398.778435
60   2015-01-01  400.18  400.064375
61   2015-02-01  400.55  400.836478
62   2015-03-01  401.74  401.290625
63   2015-04-01  403.35  402.686189
64   2015-05-01  404.15  403.904158
65   2015-06-01  402.97  403.500042
66   2015-07-01  401.46  400.970862
67   2015-08-01  399.11  399.087527
68   2015-09-01  397.82  397.601366
69   2015-10-01  398.49  397.849126
70   2015-11-01  400.27  399.691200
71   2015-12-01  402.06  401.668009
72   2016-01-01  402.73  402.997132
73   2016-02-01  404.25  403.299584
74   2016-03-01  405.06  405.022293
75   2016-04-01  407.60  406.034725
76   2016-05-01  407.90  408.198402
77   2016-06-01  406.99  407.182018
78   2016-07-01  404.59  404.900896
79   2016-08-01  402.45  402.112824
80   2016-09-01  401.23  400.965643
81   2016-10-01  401.79  401.372430
82   2016-11-01  403.72  403.083199
83   2016-12-01  404.64  405.136553
84   2017-01-01  406.36  405.494840
85   2017-02-01  406.65  406.945738
86   2017-03-01  407.53  407.438467
87   2017-04-01  409.22  408.572645
88   2017-05-01  409.89  409.815679
89   2017-06-01  409.08  409.149286
90   2017-07-01  407.33  406.947286
91   2017-08-01  405.32  404.855119
92   2017-09-01  403.57  403.863440
93   2017-10-01  403.82  403.720372
94   2017-11-01  405.31  405.105121
95   2017-12-01  407.00  406.702161
96   2018-01-01  408.15  407.888584
97   2018-02-01  408.52  408.738310
98   2018-03-01  409.59  409.313488
99   2018-04-01  410.45  410.644303
100  2018-05-01  411.44  411.018491
101  2018-06-01  410.99  410.712182
102  2018-07-01  408.90  408.903567
103  2018-08-01  407.16  406.435869
104  2018-09-01  405.71  405.694400
105  2018-10-01  406.19  405.843954
106  2018-11-01  408.21  407.460447
107  2018-12-01  409.27  409.607872
108  2019-01-01  411.03  410.124329
109  2019-02-01  411.96  411.606529
110  2019-03-01  412.18  412.759608
111  2019-04-01  413.54  413.188331
112  2019-05-01  414.86  414.096996
113  2019-06-01  414.15  414.156582
114  2019-07-01  411.96  412.084284
115  2019-08-01  410.17  409.506686
116  2019-09-01  408.76  408.703246
117  2019-10-01  408.74  408.896318
118  2019-11-01  410.47  410.001127
119  2019-12-01  411.97  411.864916
120  2020-01-01  413.59  412.858927
121  2020-02-01  414.32  414.183868
122  2020-03-01  414.72  415.103917
123  2020-04-01  416.42  415.711099
124  2020-05-01  417.28  416.980343
125  2020-06-01  416.58  416.570135
126  2020-07-01  414.58  414.518979
127  2020-08-01  412.75  412.140266
128  2020-09-01  411.50  411.281152
129  2020-10-01  411.49  411.628531
130  2020-11-01  413.10  412.741777
131  2020-12-01  414.23  414.488754
132  2021-01-01  415.49  415.114439
133  2021-02-01  416.72  416.083505
134  2021-03-01  417.61  417.538381
135  2021-04-01  419.01  418.644045
136  2021-05-01  419.09  419.560854
137  2021-06-01  418.93  418.317305
138  2021-07-01  416.90  416.856736
139  2021-08-01  414.42  414.491380
140  2021-09-01  413.26  412.970727
141  2021-10-01  413.90  413.396633
142  2021-11-01  414.97  415.159226
143  2021-12-01  416.67  416.326750
144  2022-01-01  418.13  417.555309
145  2022-02-01  419.24  418.749480
146  2022-03-01  418.76  420.074800
147  2022-04-01  420.19  419.740430
148  2022-05-01  420.97  420.702229
149  2022-06-01  420.94  420.230461
150  2022-07-01  418.85  418.926306
151  2022-08-01  417.15  416.473012
152  2022-09-01  415.91  415.709450
153  2022-10-01  415.74  416.006450
154  2022-11-01  417.47  416.927338
155  2022-12-01  418.99  418.826878
156  2023-01-01  419.47  419.908297
157  2023-02-01  420.31  420.081769
158  2023-03-01  420.99  421.111999
159  2023-04-01  423.31  421.991083
160  2023-05-01  424.00  423.884418
161  2023-06-01  423.68  423.295818
162  2023-07-01  421.83  421.646533
163  2023-08-01  419.68  419.415239
164  2023-09-01  418.50  418.191200
165  2023-10-01  418.82  418.581465
166  2023-11-01  420.46  420.032635
167  2023-12-01  421.86  421.823346
168  2024-01-01  422.80  422.748478
169  2024-02-01  424.55  423.390927
170  2024-03-01  425.38  425.382529
171  2024-04-01  426.51  426.424894
172  2024-05-01  426.90  427.065257
173  2024-06-01  426.91  426.156845
174  2024-07-01  425.55  424.871995
175  2024-08-01  422.99  423.175297
176  2024-09-01  422.03  421.521989
177  2024-10-01  422.38  422.107986
178  2024-11-01  423.85  423.562929
179  2024-12-01  425.40  425.179972
180  2025-01-01  426.65  426.291453
181  2025-02-01  427.09  427.279968
182  2025-03-01  428.15  427.910831
183  2025-04-01  429.64  429.183711
184  2025-05-01     NaN  430.205304
185  2025-06-01     NaN  429.490416
186  2025-07-01     NaN  427.456505
187  2025-08-01     NaN  425.065153
188  2025-09-01     NaN  423.604913
189  2025-10-01     NaN  423.695989
190  2025-11-01     NaN  424.896387
191  2025-12-01     NaN  426.236910
192  2026-01-01     NaN  427.130526
193  2026-02-01     NaN  427.756195
194  2026-03-01     NaN  428.593612
195  2026-04-01     NaN  429.645390

           Date   Value   ArimaPred
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41  388.910322
2    2010-03-01  391.37  391.396034
3    2010-04-01  392.67  391.674916
4    2010-05-01  393.21  393.125008
..          ...     ...         ...
191  2025-12-01     NaN  426.236910
192  2026-01-01     NaN  427.130526
193  2026-02-01     NaN  427.756195
194  2026-03-01     NaN  428.593612
195  2026-04-01     NaN  429.645390

[196 rows x 3 columns]