In [37]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta

In [38]:
df = pd.read_csv("../preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [39]:
def evaluateModel(df, predictedColumnName):
    validDf = df.dropna(subset=["Value", predictedColumnName])
    
    if len(validDf) == 0:
        return {
            "mse": np.nan,
            "rmse": np.nan,
            "mae": np.nan,
            "mape": np.nan
        }
    
    actual = validDf["Value"]
    predicted = validDf[predictedColumnName]
    
    mse = np.mean((actual - predicted) ** 2)
    
    rmse = np.sqrt(mse)
    
    mae = np.mean(np.abs(actual - predicted))
    
    nonZeroActual = actual[actual != 0]
    nonZeroPredicted = predicted[actual != 0]
    
    if len(nonZeroActual) > 0:
        mape = np.mean(np.abs((nonZeroActual - nonZeroPredicted) / nonZeroActual)) * 100
    else:
        mape = np.nan
    
    return {
        "mse": mse,
        "rmse": rmse,
        "mae": mae,
        "mape": mape
    }

In [40]:
def predictWithMonteCarlo(df, n_future=12, n_sim=1000, window_size=12):
    values = df['Value'].dropna().values
    changes = values[1:] - values[:-1]
    mean_change = changes.mean()
    std_change = changes.std()
    dates = pd.to_datetime(df['Date'])

    montecarlo_preds = [np.nan] * window_size  
    for i in range(window_size, len(values)):
        sims = []
        for _ in range(n_sim):
            sim_value = values[i-window_size]
            for j in range(window_size):
                sim_value += np.random.normal(mean_change, std_change)
            sims.append(sim_value)
        pred = np.mean(sims)
        montecarlo_preds.append(pred)
    df['MonteCarlo_Pred'] = montecarlo_preds + [np.nan]*(len(df)-len(montecarlo_preds))

    last_value = values[-window_size]
    lastDate = dates.iloc[-1]
    futureDates = []
    futureValues = []
    futurePreds = []
    for i in range(n_future):
        sims = []
        for _ in range(n_sim):
            sim_value = last_value
            for j in range(window_size + i):
                sim_value += np.random.normal(mean_change, std_change)
            sims.append(sim_value)
        pred = np.mean(sims)
        futureDates.append((lastDate + pd.DateOffset(months=i+1)).strftime('%Y-%m-%d'))
        futureValues.append(np.nan)
        futurePreds.append(pred)
    futureDf = pd.DataFrame({
        'Date': futureDates,
        'Value': futureValues,
        'MonteCarlo_Pred': futurePreds
    })

    extendedDf = pd.concat([df, futureDf], ignore_index=True)

    print(evaluateModel(df, "MonteCarlo_Pred"))
    print(extendedDf.to_string())

    return extendedDf

In [41]:
df = predictWithMonteCarlo(df, n_future=12, n_sim=1000)
df

{'mse': 0.4988487851924824, 'rmse': 0.7062922802866264, 'mae': 0.5656632710997563, 'mape': 0.13868299656229918}
           Date   Value  MonteCarlo_Pred
0    2010-01-01  388.91              NaN
1    2010-02-01  390.41              NaN
2    2010-03-01  391.37              NaN
3    2010-04-01  392.67              NaN
4    2010-05-01  393.21              NaN
5    2010-06-01  392.38              NaN
6    2010-07-01  390.41              NaN
7    2010-08-01  388.54              NaN
8    2010-09-01  387.03              NaN
9    2010-10-01  387.43              NaN
10   2010-11-01  388.87              NaN
11   2010-12-01  389.99              NaN
12   2011-01-01  391.50       391.836622
13   2011-02-01  392.05       393.054216
14   2011-03-01  392.80       394.015634
15   2011-04-01  393.44       395.105690
16   2011-05-01  394.41       395.949242
17   2011-06-01  393.95       395.159554
18   2011-07-01  392.72       392.950094
19   2011-08-01  390.33       391.234730
20   2011-09-01  389.28       389.615221
21   2011-10-01  389.19       390.255057
22   2011-11-01  390.48       391.492989
23   2011-12-01  392.06       392.452419
24   2012-01-01  393.31       394.162036
25   2012-02-01  394.04       394.511999
26   2012-03-01  394.59       395.378437
27   2012-04-01  396.38       396.153293
28   2012-05-01  396.93       397.023799
29   2012-06-01  395.91       396.591693
30   2012-07-01  394.56       395.355568
31   2012-08-01  392.59       393.162658
32   2012-09-01  391.32       392.079386
33   2012-10-01  391.27       391.798428
34   2012-11-01  393.20       393.087152
35   2012-12-01  394.57       394.713325
36   2013-01-01  395.78       395.812555
37   2013-02-01  397.03       396.664734
38   2013-03-01  397.66       397.255861
39   2013-04-01  398.64       398.932854
40   2013-05-01  400.02       399.555298
41   2013-06-01  398.81       398.899126
42   2013-07-01  397.51       397.322115
43   2013-08-01  395.39       395.223755
44   2013-09-01  393.72       394.216505
45   2013-10-01  393.90       393.967015
46   2013-11-01  395.36       395.817510
47   2013-12-01  397.03       397.225359
48   2014-01-01  398.04       398.412246
49   2014-02-01  398.27       399.946231
50   2014-03-01  399.91       400.249391
51   2014-04-01  401.51       401.350494
52   2014-05-01  401.96       402.867501
53   2014-06-01  401.43       401.401587
54   2014-07-01  399.27       400.130709
55   2014-08-01  397.18       397.997695
56   2014-09-01  395.54       396.289875
57   2014-10-01  396.16       396.367273
58   2014-11-01  397.40       398.285929
59   2014-12-01  399.08       399.695604
60   2015-01-01  400.18       400.945651
61   2015-02-01  400.55       401.069445
62   2015-03-01  401.74       402.500009
63   2015-04-01  403.35       404.140169
64   2015-05-01  404.15       404.669512
65   2015-06-01  402.97       404.228852
66   2015-07-01  401.46       402.026156
67   2015-08-01  399.11       399.891739
68   2015-09-01  397.82       398.272540
69   2015-10-01  398.49       398.777549
70   2015-11-01  400.27       399.942749
71   2015-12-01  402.06       401.648308
72   2016-01-01  402.73       402.888990
73   2016-02-01  404.25       403.127898
74   2016-03-01  405.06       404.512603
75   2016-04-01  407.60       406.097649
76   2016-05-01  407.90       406.745629
77   2016-06-01  406.99       405.730408
78   2016-07-01  404.59       404.058180
79   2016-08-01  402.45       401.887262
80   2016-09-01  401.23       400.457831
81   2016-10-01  401.79       401.128491
82   2016-11-01  403.72       403.134975
83   2016-12-01  404.64       404.613136
84   2017-01-01  406.36       405.588640
85   2017-02-01  406.65       406.929023
86   2017-03-01  407.53       407.518511
87   2017-04-01  409.22       410.423793
88   2017-05-01  409.89       410.294272
89   2017-06-01  409.08       409.772407
90   2017-07-01  407.33       407.235488
91   2017-08-01  405.32       405.226987
92   2017-09-01  403.57       403.784592
93   2017-10-01  403.82       404.553190
94   2017-11-01  405.31       406.539373
95   2017-12-01  407.00       407.391856
96   2018-01-01  408.15       408.714575
97   2018-02-01  408.52       409.336065
98   2018-03-01  409.59       410.388481
99   2018-04-01  410.45       411.877490
100  2018-05-01  411.44       412.798501
101  2018-06-01  410.99       411.523341
102  2018-07-01  408.90       409.976643
103  2018-08-01  407.16       407.775659
104  2018-09-01  405.71       406.379372
105  2018-10-01  406.19       406.490103
106  2018-11-01  408.21       408.175849
107  2018-12-01  409.27       409.766230
108  2019-01-01  411.03       410.767694
109  2019-02-01  411.96       411.435301
110  2019-03-01  412.18       412.104895
111  2019-04-01  413.54       413.465924
112  2019-05-01  414.86       414.217012
113  2019-06-01  414.15       413.495373
114  2019-07-01  411.96       411.951969
115  2019-08-01  410.17       409.524757
116  2019-09-01  408.76       408.448962
117  2019-10-01  408.74       408.777735
118  2019-11-01  410.47       410.760905
119  2019-12-01  411.97       411.850766
120  2020-01-01  413.59       413.773391
121  2020-02-01  414.32       414.622451
122  2020-03-01  414.72       414.712617
123  2020-04-01  416.42       416.013988
124  2020-05-01  417.28       417.506290
125  2020-06-01  416.58       416.741512
126  2020-07-01  414.58       414.453229
127  2020-08-01  412.75       412.868716
128  2020-09-01  411.50       411.366370
129  2020-10-01  411.49       411.012762
130  2020-11-01  413.10       413.259322
131  2020-12-01  414.23       414.818224
132  2021-01-01  415.49       415.997472
133  2021-02-01  416.72       417.228295
134  2021-03-01  417.61       417.329342
135  2021-04-01  419.01       419.209228
136  2021-05-01  419.09       419.915455
137  2021-06-01  418.93       419.318737
138  2021-07-01  416.90       416.887378
139  2021-08-01  414.42       415.603767
140  2021-09-01  413.26       414.117440
141  2021-10-01  413.90       414.042846
142  2021-11-01  414.97       415.818106
143  2021-12-01  416.67       416.980104
144  2022-01-01  418.13       418.085050
145  2022-02-01  419.24       419.402650
146  2022-03-01  418.76       420.334002
147  2022-04-01  420.19       421.662867
148  2022-05-01  420.97       421.831710
149  2022-06-01  420.94       421.919390
150  2022-07-01  418.85       419.424923
151  2022-08-01  417.15       417.046397
152  2022-09-01  415.91       415.895380
153  2022-10-01  415.74       416.193018
154  2022-11-01  417.47       417.749732
155  2022-12-01  418.99       419.412818
156  2023-01-01  419.47       420.962216
157  2023-02-01  420.31       421.914838
158  2023-03-01  420.99       421.316477
159  2023-04-01  423.31       423.056065
160  2023-05-01  424.00       423.303769
161  2023-06-01  423.68       423.683869
162  2023-07-01  421.83       421.433818
163  2023-08-01  419.68       419.764997
164  2023-09-01  418.50       418.646667
165  2023-10-01  418.82       418.386836
166  2023-11-01  420.46       420.336795
167  2023-12-01  421.86       421.555674
168  2024-01-01  422.80       421.987892
169  2024-02-01  424.55       422.978081
170  2024-03-01  425.38       423.570946
171  2024-04-01  426.51       425.909146
172  2024-05-01  426.90       426.632181
173  2024-06-01  426.91       426.154856
174  2024-07-01  425.55       424.408398
175  2024-08-01  422.99       422.376743
176  2024-09-01  422.03       421.315104
177  2024-10-01  422.38       421.481969
178  2024-11-01  423.85       422.819033
179  2024-12-01  425.40       424.593589
180  2025-01-01  426.65       425.727545
181  2025-02-01  427.09       427.401018
182  2025-03-01  428.15       428.015303
183  2025-04-01  429.64       429.061068
184  2025-05-01     NaN       429.864575
185  2025-06-01     NaN       429.621330
186  2025-07-01     NaN       430.200718
187  2025-08-01     NaN       430.185976
188  2025-09-01     NaN       430.652799
189  2025-10-01     NaN       430.565345
190  2025-11-01     NaN       430.720151
191  2025-12-01     NaN       430.693922
192  2026-01-01     NaN       431.414411
193  2026-02-01     NaN       431.292537
194  2026-03-01     NaN       432.270020
195  2026-04-01     NaN       432.237159

           Date   Value  MonteCarlo_Pred
0    2010-01-01  388.91              NaN
1    2010-02-01  390.41              NaN
2    2010-03-01  391.37              NaN
3    2010-04-01  392.67              NaN
4    2010-05-01  393.21              NaN
..          ...     ...              ...
191  2025-12-01     NaN       430.693922
192  2026-01-01     NaN       431.414411
193  2026-02-01     NaN       431.292537
194  2026-03-01     NaN       432.270020
195  2026-04-01     NaN       432.237159

[196 rows x 3 columns]

In [42]:
# Export it
outPath = "D:\KULIAH\KULIAH Y2\PCD\Program\statistika-final-proj\montecarlo-data.csv"
df.to_csv(outPath, index=False)
df

<>:2: SyntaxWarning: invalid escape sequence '\K'
<>:2: SyntaxWarning: invalid escape sequence '\K'
C:\Users\asus\AppData\Local\Temp\ipykernel_31192\3308627513.py:2: SyntaxWarning: invalid escape sequence '\K'
  outPath = "D:\KULIAH\KULIAH Y2\PCD\Program\statistika-final-proj\montecarlo-data.csv"

           Date   Value  MonteCarlo_Pred
0    2010-01-01  388.91              NaN
1    2010-02-01  390.41              NaN
2    2010-03-01  391.37              NaN
3    2010-04-01  392.67              NaN
4    2010-05-01  393.21              NaN
..          ...     ...              ...
191  2025-12-01     NaN       430.693922
192  2026-01-01     NaN       431.414411
193  2026-02-01     NaN       431.292537
194  2026-03-01     NaN       432.270020
195  2026-04-01     NaN       432.237159

[196 rows x 3 columns]