In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [3]:
def findOptimalSarima(timeSeries, maxP=5, maxD=5, maxQ=5, maxSeasonalP=5, maxSeasonalD=5, maxSeasonalQ=5, seasonalPeriod=12):
    bestAic = np.inf
    bestOrder = None
    bestSeasonalOrder = None
    
    print("Finding optimal SARIMA parameters...")
    
    for p in range(maxP + 1):
        for d in range(maxD + 1):
            for q in range(maxQ + 1):
                for P in range(maxSeasonalP + 1):
                    for D in range(maxSeasonalD + 1):
                        for Q in range(maxSeasonalQ + 1):
                            try:
                                model = SARIMAX(timeSeries, 
                                              order=(p, d, q), 
                                              seasonal_order=(P, D, Q, seasonalPeriod))
                                modelFit = model.fit(disp=False)
                                
                                if modelFit.aic < bestAic:
                                    bestAic = modelFit.aic
                                    bestOrder = (p, d, q)
                                    bestSeasonalOrder = (P, D, Q, seasonalPeriod)
                                    
                            except:
                                continue
    
    print(f"Best SARIMA order: {bestOrder}")
    print(f"Best seasonal order: {bestSeasonalOrder}")
    print(f"Best AIC: {bestAic}")
    return bestOrder, bestSeasonalOrder

In [4]:
def evaluateModel(df, predCol):
    # remove rows with NaN predictions for evaluation
    validDf = df.dropna(subset=[predCol, 'Value'])
    
    if len(validDf) == 0:
        return "No valid predictions to evaluate"
    
    actual = validDf['Value']
    predicted = validDf[predCol]
    
    # calculate metrics
    mae = np.mean(np.abs(actual - predicted))
    mse = np.mean((actual - predicted) ** 2)
    rmse = np.sqrt(mse)
    mape = np.mean(np.abs((actual - predicted) / actual)) * 100
    
    return f"MAE: {mae:.4f}, MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAPE: {mape:.4f}%"

In [5]:
def execSarima(steps=12):
    dfCopy = df.copy()
    dfCopy['Date'] = pd.to_datetime(dfCopy['Date'])
    dfCopy.set_index('Date', inplace=True)
    
    timeSeries = dfCopy['Value']
    
    # TODO: RUN THIS LATER, WHEN CHILLIN
    # # find optimal parameters
    # bestOrder, bestSeasonalOrder = findOptimalSarima(timeSeries)
    
    # fit SARIMA model
    # model = SARIMAX(timeSeries, 
    #                order=bestOrder, 
    #                seasonal_order=bestSeasonalOrder)
    # modelFit = model.fit(disp=False)
    
    
    # temporary param, need to run top one later
    model = SARIMAX(timeSeries, 
                   order=(2,1,2), 
                   seasonal_order=(1,1,1,12))
    modelFit = model.fit(disp=False)
    

    print(modelFit.summary())
    
    inSamplePred = modelFit.fittedvalues
    
    inSamplePred.iloc[0] = np.nan
    
    resultDf = dfCopy.copy()
    resultDf['SarimaPred'] = inSamplePred
    
    forecast = modelFit.forecast(steps=steps)
    
    lastDate = dfCopy.index[-1]
    futureDates = []
    futureValues = []
    futureSarima = []
    
    for i in range(steps):
        newDate = lastDate + relativedelta(months=i+1)
        futureDates.append(newDate)
        futureValues.append(np.nan)
        futureSarima.append(forecast.iloc[i] if hasattr(forecast, 'iloc') else forecast[i])
    
    # create future dataframe
    futureDf = pd.DataFrame({
        'Value': futureValues,
        'SarimaPred': futureSarima
    }, index=futureDates)
    
    extendedDf = pd.concat([resultDf, futureDf])
    
    print("\nModel Evaluation:")
    evaluation = evaluateModel(resultDf.reset_index(), "SarimaPred")
    print(evaluation, "\n")
    
    # reset index to match MVA format
    extendedDf = extendedDf.reset_index()
    extendedDf = extendedDf.rename(columns={'index': 'Date'})
    extendedDf['Date'] = extendedDf['Date'].dt.strftime('%Y-%m-%d')
    
    print(extendedDf.to_string())
    return extendedDf

In [6]:
sarimaResults = execSarima(12)

outPath = "../sarima-results.csv"
sarimaResults.to_csv(outPath, index=False)

sarimaResults

/home/alie/programs/miniconda3/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/alie/programs/miniconda3/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/alie/programs/miniconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/home/alie/programs/miniconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

                                      SARIMAX Results
============================================================================================
Dep. Variable:                                Value   No. Observations:                  184
Model:             SARIMAX(2, 1, 2)x(1, 1, [1], 12)   Log Likelihood                 -73.594
Date:                              Fri, 30 May 2025   AIC                            161.188
Time:                                      14:23:30   BIC                            183.180
Sample:                                  01-01-2010   HQIC                           170.111
                                       - 04-01-2025
Covariance Type:                                opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.2097     50.879     -0.004      0.997     -99.930      99.510
ar.L2          0.1102     12.641      0.009      0.993     -24.666      24.886
ma.L1         -0.2009     50.874     -0.004      0.997     -99.913      99.511
ma.L2         -0.2989     33.528     -0.009      0.993     -66.012      65.414
ar.S.L12       0.0115      0.110      0.105      0.916      -0.203       0.226
ma.S.L12      -0.9200      0.127     -7.217      0.000      -1.170      -0.670
sigma2         0.1221      0.017      7.208      0.000       0.089       0.155
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):                 3.66
Prob(Q):                              0.94   Prob(JB):                         0.16
Heteroskedasticity (H):               1.36   Skew:                            -0.06
Prob(H) (two-sided):                  0.25   Kurtosis:                         3.71
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

Model Evaluation:
MAE: 1.4032, MSE: 203.6658, RMSE: 14.2712, MAPE: 0.3557%

           Date   Value  SarimaPred
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41  388.909984
2    2010-03-01  391.37  390.409996
3    2010-04-01  392.67  391.369999
4    2010-05-01  393.21  392.670000
5    2010-06-01  392.38  393.210000
6    2010-07-01  390.41  392.380000
7    2010-08-01  388.54  390.410000
8    2010-09-01  387.03  388.540000
9    2010-10-01  387.43  387.030001
10   2010-11-01  388.87  387.430002
11   2010-12-01  389.99  388.870008
12   2011-01-01  391.50  584.445000
13   2011-02-01  392.05  393.000031
14   2011-03-01  392.80  393.304689
15   2011-04-01  393.44  394.360899
16   2011-05-01  394.41  394.406063
17   2011-06-01  393.95  393.684392
18   2011-07-01  392.72  391.896055
19   2011-08-01  390.33  390.491911
20   2011-09-01  389.28  388.796530
21   2011-10-01  389.19  389.473971
22   2011-11-01  390.48  390.682218
23   2011-12-01  392.06  391.643807
24   2012-01-01  393.31  393.191556
25   2012-02-01  394.04  394.261036
26   2012-03-01  394.59  394.962979
27   2012-04-01  396.38  395.722022
28   2012-05-01  396.93  396.912139
29   2012-06-01  395.91  396.223407
30   2012-07-01  394.56  394.429235
31   2012-08-01  392.59  392.400380
32   2012-09-01  391.32  391.228458
33   2012-10-01  391.27  391.410918
34   2012-11-01  393.20  392.669889
35   2012-12-01  394.57  394.314603
36   2013-01-01  395.78  395.660602
37   2013-02-01  397.03  396.624706
38   2013-03-01  397.66  397.597684
39   2013-04-01  398.64  398.843846
40   2013-05-01  400.02  399.390153
41   2013-06-01  398.81  399.003352
42   2013-07-01  397.51  397.314695
43   2013-08-01  395.39  395.361429
44   2013-09-01  393.72  394.081950
45   2013-10-01  393.90  393.944750
46   2013-11-01  395.36  395.509785
47   2013-12-01  397.03  396.771696
48   2014-01-01  398.04  398.186032
49   2014-02-01  398.27  399.088977
50   2014-03-01  399.91  399.331427
51   2014-04-01  401.51  400.933822
52   2014-05-01  401.96  402.105393
53   2014-06-01  401.43  401.064214
54   2014-07-01  399.27  399.819622
55   2014-08-01  397.18  397.369902
56   2014-09-01  395.54  395.923839
57   2014-10-01  396.16  395.838219
58   2014-11-01  397.40  397.600923
59   2014-12-01  399.08  398.885190
60   2015-01-01  400.18  400.195228
61   2015-02-01  400.55  401.008697
62   2015-03-01  401.74  401.657275
63   2015-04-01  403.35  403.022502
64   2015-05-01  404.15  403.990665
65   2015-06-01  402.97  403.245985
66   2015-07-01  401.46  401.445061
67   2015-08-01  399.11  399.388576
68   2015-09-01  397.82  397.792989
69   2015-10-01  398.49  398.059663
70   2015-11-01  400.27  399.781476
71   2015-12-01  402.06  401.503652
72   2016-01-01  402.73  402.932351
73   2016-02-01  404.25  403.499532
74   2016-03-01  405.06  404.911968
75   2016-04-01  407.60  406.253785
76   2016-05-01  407.90  407.796763
77   2016-06-01  406.99  406.832043
78   2016-07-01  404.59  405.292438
79   2016-08-01  402.45  402.713687
80   2016-09-01  401.23  401.218719
81   2016-10-01  401.79  401.568412
82   2016-11-01  403.72  403.234851
83   2016-12-01  404.64  405.036065
84   2017-01-01  406.36  405.827090
85   2017-02-01  406.65  407.060537
86   2017-03-01  407.53  407.706155
87   2017-04-01  409.22  409.162063
88   2017-05-01  409.89  409.922052
89   2017-06-01  409.08  409.022353
90   2017-07-01  407.33  407.335260
91   2017-08-01  405.32  405.191922
92   2017-09-01  403.57  403.890971
93   2017-10-01  403.82  404.028355
94   2017-11-01  405.31  405.526060
95   2017-12-01  407.00  406.856326
96   2018-01-01  408.15  408.156356
97   2018-02-01  408.52  408.936088
98   2018-03-01  409.59  409.618496
99   2018-04-01  410.45  411.185211
100  2018-05-01  411.44  411.465505
101  2018-06-01  410.99  410.659055
102  2018-07-01  408.90  409.154416
103  2018-08-01  407.16  406.859817
104  2018-09-01  405.71  405.622030
105  2018-10-01  406.19  405.971161
106  2018-11-01  408.21  407.656654
107  2018-12-01  409.27  409.430611
108  2019-01-01  411.03  410.445712
109  2019-02-01  411.96  411.532113
110  2019-03-01  412.18  412.674555
111  2019-04-01  413.54  413.770334
112  2019-05-01  414.86  414.412972
113  2019-06-01  414.15  413.896143
114  2019-07-01  411.96  412.236142
115  2019-08-01  410.17  409.973592
116  2019-09-01  408.76  408.676610
117  2019-10-01  408.74  409.056447
118  2019-11-01  410.47  410.492747
119  2019-12-01  411.97  411.922583
120  2020-01-01  413.59  413.213585
121  2020-02-01  414.32  414.201523
122  2020-03-01  414.72  415.085449
123  2020-04-01  416.42  416.289293
124  2020-05-01  417.28  417.212623
125  2020-06-01  416.58  416.443261
126  2020-07-01  414.58  414.693456
127  2020-08-01  412.75  412.577563
128  2020-09-01  411.50  411.257605
129  2020-10-01  411.49  411.681595
130  2020-11-01  413.10  413.182936
131  2020-12-01  414.23  414.575878
132  2021-01-01  415.49  415.678654
133  2021-02-01  416.72  416.366242
134  2021-03-01  417.61  417.407510
135  2021-04-01  419.01  418.970856
136  2021-05-01  419.09  419.780336
137  2021-06-01  418.93  418.571298
138  2021-07-01  416.90  417.010909
139  2021-08-01  414.42  414.913735
140  2021-09-01  413.26  413.222168
141  2021-10-01  413.90  413.559269
142  2021-11-01  414.97  415.406169
143  2021-12-01  416.67  416.507942
144  2022-01-01  418.13  417.928432
145  2022-02-01  419.24  418.855916
146  2022-03-01  418.76  419.879566
147  2022-04-01  420.19  420.636952
148  2022-05-01  420.97  421.204917
149  2022-06-01  420.94  420.417774
150  2022-07-01  418.85  418.906263
151  2022-08-01  417.15  416.761220
152  2022-09-01  415.91  415.605883
153  2022-10-01  415.74  416.054230
154  2022-11-01  417.47  417.399730
155  2022-12-01  418.99  418.894153
156  2023-01-01  419.47  420.256113
157  2023-02-01  420.31  420.626733
158  2023-03-01  420.99  421.189411
159  2023-04-01  423.31  422.581547
160  2023-05-01  424.00  423.784222
161  2023-06-01  423.68  423.197458
162  2023-07-01  421.83  421.559950
163  2023-08-01  419.68  419.638667
164  2023-09-01  418.50  418.254675
165  2023-10-01  418.82  418.637317
166  2023-11-01  420.46  420.311414
167  2023-12-01  421.86  421.811324
168  2024-01-01  422.80  423.031665
169  2024-02-01  424.55  423.726264
170  2024-03-01  425.38  424.919000
171  2024-04-01  426.51  426.664953
172  2024-05-01  426.90  427.242686
173  2024-06-01  426.91  426.422389
174  2024-07-01  425.55  424.866361
175  2024-08-01  422.99  423.188059
176  2024-09-01  422.03  421.643751
177  2024-10-01  422.38  422.137443
178  2024-11-01  423.85  423.839133
179  2024-12-01  425.40  425.244620
180  2025-01-01  426.65  426.519468
181  2025-02-01  427.09  427.516428
182  2025-03-01  428.15  427.948562
183  2025-04-01  429.64  429.606603
184  2025-05-01     NaN  430.313117
185  2025-06-01     NaN  429.752445
186  2025-07-01     NaN  427.927331
187  2025-08-01     NaN  425.833513
188  2025-09-01     NaN  424.524711
189  2025-10-01     NaN  424.797745
190  2025-11-01     NaN  426.382021
191  2025-12-01     NaN  427.827729
192  2026-01-01     NaN  429.029122
193  2026-02-01     NaN  429.906072
194  2026-03-01     NaN  430.643040
195  2026-04-01     NaN  432.146082

           Date   Value  SarimaPred
0    2010-01-01  388.91         NaN
1    2010-02-01  390.41  388.909984
2    2010-03-01  391.37  390.409996
3    2010-04-01  392.67  391.369999
4    2010-05-01  393.21  392.670000
..          ...     ...         ...
191  2025-12-01     NaN  427.827729
192  2026-01-01     NaN  429.029122
193  2026-02-01     NaN  429.906072
194  2026-03-01     NaN  430.643040
195  2026-04-01     NaN  432.146082

[196 rows x 3 columns]