In [80]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from sklearn.svm import SVR
import warnings
warnings.filterwarnings('ignore')

In [81]:
df = pd.read_csv("../preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [82]:
def evaluateModel(df, predCol):
    # remove rows with NaN predictions for evaluation
    validDf = df.dropna(subset=[predCol, 'Value'])
    
    if len(validDf) == 0:
        return "No valid predictions to evaluate"
    
    actual = validDf['Value']
    predicted = validDf[predCol]
    
    # calculate metrics
    mae = np.mean(np.abs(actual - predicted))
    mse = np.mean((actual - predicted) ** 2)
    rmse = np.sqrt(mse)
    mape = np.mean(np.abs((actual - predicted) / actual)) * 100
    
    return f"MAE: {mae:.4f}, MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAPE: {mape:.4f}%"

In [ ]:
def execSVM(steps=12):
	dfCopy = df.copy()
	dfCopy['Date'] = pd.to_datetime(dfCopy['Date'])

	# create time index (months since start)
	startDate = dfCopy['Date'].min()
	dfCopy['timeIndex'] = (dfCopy['Date'] - startDate).dt.days / 30.44 

	x = dfCopy['timeIndex'].values.reshape(-1, 1)
	y = dfCopy['Value'].values

	# fit linear regression model
	model = SVR(kernel='linear', C=0.1, gamma='auto')
	model.fit(x, y)
	print("SVM  Model:")
	print(f"R² Score: {model.score(x, y):.6f}")

	# make in-sample predictions
	inSamplePred = model.predict(x)

	resultDf = dfCopy.copy()
	resultDf['SVM'] = inSamplePred

	# generate future predictions
	lastTimeIndex = dfCopy['timeIndex'].iloc[-1]
	lastDate = dfCopy['Date'].iloc[-1]

	futureDates = []
	futureValues = []
	futureSvmPred = []

	for i in range(steps):
		newDate = lastDate + relativedelta(months=i+1)
		newTimeIndex = lastTimeIndex + (i + 1)
		
		# predict future value
		futurePred = model.predict([[newTimeIndex]])[0]
		
		futureDates.append(newDate)
		futureValues.append(np.nan)
		futureSvmPred.append(futurePred)

	# create future dataframe
	futureDf = pd.DataFrame({
		'Date': futureDates,
		'Value': futureValues,
		'timeIndex': [lastTimeIndex + i + 1 for i in range(steps)],
		'SVM': futureSvmPred
	})

	extendedDf = pd.concat([resultDf, futureDf], ignore_index=True)

	print("\nModel Evaluation:")
	evaluation = evaluateModel(resultDf, "SVM")
	print(evaluation, "\n")

	# format output similar to sarima
	extendedDf['Date'] = extendedDf['Date'].dt.strftime('%Y-%m-%d')
	outputDf = extendedDf[['Date', 'Value', 'SVM']].copy()

	print(outputDf.to_string())
	return outputDf

In [84]:
linearRegResults = execSVM(12)

outPath = "../SVM-results.csv"
linearRegResults.to_csv(outPath, index=False)

linearRegResults

SVM  Model:
R² Score: 0.958224

Model Evaluation:
MAE: 1.9307, MSE: 5.1784, RMSE: 2.2756, MAPE: 0.4752%

           Date   Value         SVM
0    2010-01-01  388.91  388.517060
1    2010-02-01  390.41  388.725869
2    2010-03-01  391.37  388.914470
3    2010-04-01  392.67  389.123278
4    2010-05-01  393.21  389.325350
5    2010-06-01  392.38  389.534158
6    2010-07-01  390.41  389.736231
7    2010-08-01  388.54  389.945039
8    2010-09-01  387.03  390.153847
9    2010-10-01  387.43  390.355920
10   2010-11-01  388.87  390.564728
11   2010-12-01  389.99  390.766800
12   2011-01-01  391.50  390.975609
13   2011-02-01  392.05  391.184417
14   2011-03-01  392.80  391.373018
15   2011-04-01  393.44  391.581826
16   2011-05-01  394.41  391.783898
17   2011-06-01  393.95  391.992707
18   2011-07-01  392.72  392.194779
19   2011-08-01  390.33  392.403587
20   2011-09-01  389.28  392.612395
21   2011-10-01  389.19  392.814468
22   2011-11-01  390.48  393.023276
23   2011-12-01  392.06  393.225348
24   2012-01-01  393.31  393.434157
25   2012-02-01  394.04  393.642965
26   2012-03-01  394.59  393.838302
27   2012-04-01  396.38  394.047110
28   2012-05-01  396.93  394.249182
29   2012-06-01  395.91  394.457990
30   2012-07-01  394.56  394.660063
31   2012-08-01  392.59  394.868871
32   2012-09-01  391.32  395.077679
33   2012-10-01  391.27  395.279752
34   2012-11-01  393.20  395.488560
35   2012-12-01  394.57  395.690632
36   2013-01-01  395.78  395.899440
37   2013-02-01  397.03  396.108249
38   2013-03-01  397.66  396.296850
39   2013-04-01  398.64  396.505658
40   2013-05-01  400.02  396.707730
41   2013-06-01  398.81  396.916538
42   2013-07-01  397.51  397.118611
43   2013-08-01  395.39  397.327419
44   2013-09-01  393.72  397.536227
45   2013-10-01  393.90  397.738300
46   2013-11-01  395.36  397.947108
47   2013-12-01  397.03  398.149180
48   2014-01-01  398.04  398.357989
49   2014-02-01  398.27  398.566797
50   2014-03-01  399.91  398.755398
51   2014-04-01  401.51  398.964206
52   2014-05-01  401.96  399.166278
53   2014-06-01  401.43  399.375087
54   2014-07-01  399.27  399.577159
55   2014-08-01  397.18  399.785967
56   2014-09-01  395.54  399.994775
57   2014-10-01  396.16  400.196848
58   2014-11-01  397.40  400.405656
59   2014-12-01  399.08  400.607728
60   2015-01-01  400.18  400.816537
61   2015-02-01  400.55  401.025345
62   2015-03-01  401.74  401.213946
63   2015-04-01  403.35  401.422754
64   2015-05-01  404.15  401.624826
65   2015-06-01  402.97  401.833635
66   2015-07-01  401.46  402.035707
67   2015-08-01  399.11  402.244515
68   2015-09-01  397.82  402.453323
69   2015-10-01  398.49  402.655396
70   2015-11-01  400.27  402.864204
71   2015-12-01  402.06  403.066277
72   2016-01-01  402.73  403.275085
73   2016-02-01  404.25  403.483893
74   2016-03-01  405.06  403.679230
75   2016-04-01  407.60  403.888038
76   2016-05-01  407.90  404.090110
77   2016-06-01  406.99  404.298919
78   2016-07-01  404.59  404.500991
79   2016-08-01  402.45  404.709799
80   2016-09-01  401.23  404.918607
81   2016-10-01  401.79  405.120680
82   2016-11-01  403.72  405.329488
83   2016-12-01  404.64  405.531560
84   2017-01-01  406.36  405.740369
85   2017-02-01  406.65  405.949177
86   2017-03-01  407.53  406.137778
87   2017-04-01  409.22  406.346586
88   2017-05-01  409.89  406.548658
89   2017-06-01  409.08  406.757467
90   2017-07-01  407.33  406.959539
91   2017-08-01  405.32  407.168347
92   2017-09-01  403.57  407.377155
93   2017-10-01  403.82  407.579228
94   2017-11-01  405.31  407.788036
95   2017-12-01  407.00  407.990109
96   2018-01-01  408.15  408.198917
97   2018-02-01  408.52  408.407725
98   2018-03-01  409.59  408.596326
99   2018-04-01  410.45  408.805134
100  2018-05-01  411.44  409.007207
101  2018-06-01  410.99  409.216015
102  2018-07-01  408.90  409.418087
103  2018-08-01  407.16  409.626895
104  2018-09-01  405.71  409.835704
105  2018-10-01  406.19  410.037776
106  2018-11-01  408.21  410.246584
107  2018-12-01  409.27  410.448657
108  2019-01-01  411.03  410.657465
109  2019-02-01  411.96  410.866273
110  2019-03-01  412.18  411.054874
111  2019-04-01  413.54  411.263682
112  2019-05-01  414.86  411.465755
113  2019-06-01  414.15  411.674563
114  2019-07-01  411.96  411.876635
115  2019-08-01  410.17  412.085443
116  2019-09-01  408.76  412.294252
117  2019-10-01  408.74  412.496324
118  2019-11-01  410.47  412.705132
119  2019-12-01  411.97  412.907205
120  2020-01-01  413.59  413.116013
121  2020-02-01  414.32  413.324821
122  2020-03-01  414.72  413.520158
123  2020-04-01  416.42  413.728966
124  2020-05-01  417.28  413.931038
125  2020-06-01  416.58  414.139847
126  2020-07-01  414.58  414.341919
127  2020-08-01  412.75  414.550727
128  2020-09-01  411.50  414.759536
129  2020-10-01  411.49  414.961608
130  2020-11-01  413.10  415.170416
131  2020-12-01  414.23  415.372489
132  2021-01-01  415.49  415.581297
133  2021-02-01  416.72  415.790105
134  2021-03-01  417.61  415.978706
135  2021-04-01  419.01  416.187514
136  2021-05-01  419.09  416.389587
137  2021-06-01  418.93  416.598395
138  2021-07-01  416.90  416.800467
139  2021-08-01  414.42  417.009275
140  2021-09-01  413.26  417.218084
141  2021-10-01  413.90  417.420156
142  2021-11-01  414.97  417.628964
143  2021-12-01  416.67  417.831037
144  2022-01-01  418.13  418.039845
145  2022-02-01  419.24  418.248653
146  2022-03-01  418.76  418.437254
147  2022-04-01  420.19  418.646062
148  2022-05-01  420.97  418.848135
149  2022-06-01  420.94  419.056943
150  2022-07-01  418.85  419.259015
151  2022-08-01  417.15  419.467824
152  2022-09-01  415.91  419.676632
153  2022-10-01  415.74  419.878704
154  2022-11-01  417.47  420.087512
155  2022-12-01  418.99  420.289585
156  2023-01-01  419.47  420.498393
157  2023-02-01  420.31  420.707201
158  2023-03-01  420.99  420.895802
159  2023-04-01  423.31  421.104610
160  2023-05-01  424.00  421.306683
161  2023-06-01  423.68  421.515491
162  2023-07-01  421.83  421.717563
163  2023-08-01  419.68  421.926372
164  2023-09-01  418.50  422.135180
165  2023-10-01  418.82  422.337252
166  2023-11-01  420.46  422.546060
167  2023-12-01  421.86  422.748133
168  2024-01-01  422.80  422.956941
169  2024-02-01  424.55  423.165749
170  2024-03-01  425.38  423.361086
171  2024-04-01  426.51  423.569894
172  2024-05-01  426.90  423.771967
173  2024-06-01  426.91  423.980775
174  2024-07-01  425.55  424.182847
175  2024-08-01  422.99  424.391655
176  2024-09-01  422.03  424.600464
177  2024-10-01  422.38  424.802536
178  2024-11-01  423.85  425.011344
179  2024-12-01  425.40  425.213417
180  2025-01-01  426.65  425.422225
181  2025-02-01  427.09  425.631033
182  2025-03-01  428.15  425.819634
183  2025-04-01  429.64  426.028442
184  2025-05-01     NaN  426.233478
185  2025-06-01     NaN  426.438515
186  2025-07-01     NaN  426.643551
187  2025-08-01     NaN  426.848587
188  2025-09-01     NaN  427.053623
189  2025-10-01     NaN  427.258659
190  2025-11-01     NaN  427.463696
191  2025-12-01     NaN  427.668732
192  2026-01-01     NaN  427.873768
193  2026-02-01     NaN  428.078804
194  2026-03-01     NaN  428.283840
195  2026-04-01     NaN  428.488876

           Date   Value         SVM
0    2010-01-01  388.91  388.517060
1    2010-02-01  390.41  388.725869
2    2010-03-01  391.37  388.914470
3    2010-04-01  392.67  389.123278
4    2010-05-01  393.21  389.325350
..          ...     ...         ...
191  2025-12-01     NaN  427.668732
192  2026-01-01     NaN  427.873768
193  2026-02-01     NaN  428.078804
194  2026-03-01     NaN  428.283840
195  2026-04-01     NaN  428.488876

[196 rows x 3 columns]