In [7]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta

In [21]:
df = pd.read_csv("./preprocessed-data.csv")
df

           Date   Value
0    2010-01-01  388.91
1    2010-02-01  390.41
2    2010-03-01  391.37
3    2010-04-01  392.67
4    2010-05-01  393.21
..          ...     ...
179  2024-12-01  425.40
180  2025-01-01  426.65
181  2025-02-01  427.09
182  2025-03-01  428.15
183  2025-04-01  429.64

[184 rows x 2 columns]

In [23]:
def evaluateModel(df, predictedColumnName):
    validDf = df.dropna(subset=["Value", predictedColumnName])
    
    if len(validDf) == 0:
        return {
            "mse": np.nan,
            "rmse": np.nan,
            "mae": np.nan,
            "mape": np.nan
        }
    
    actual = validDf["Value"]
    predicted = validDf[predictedColumnName]
    
    mse = np.mean((actual - predicted) ** 2)
    rmse = np.sqrt(mse)
    mae = np.mean(np.abs(actual - predicted))
    
    nonZeroActual = actual[actual != 0]
    nonZeroPredicted = predicted[actual != 0]
    
    mape = np.mean(np.abs((nonZeroActual - nonZeroPredicted) / nonZeroActual)) * 100 if len(nonZeroActual) > 0 else np.nan
    
    return {
        "mse": mse,
        "rmse": rmse,
        "mae": mae,
        "mape": mape
    }

In [25]:
def exponentialSmoothing(data, alpha):
    result = [data[0]]  # initial value
    for n in range(1, len(data)):
        result.append(alpha * data[n] + (1 - alpha) * result[n-1])
    return result

def predictWithExponentialSmoothing(data, alpha, forecast_horizon):
    smoothed = exponentialSmoothing(data, alpha)
    forecast_value = smoothed[-1]
    return [forecast_value] * forecast_horizon

In [27]:
def execExponentialSmoothing(alpha, forecast_horizon):
    values = df["Value"].values
    smoothed = exponentialSmoothing(values, alpha)

    df['ExpSmooth'] = smoothed

    lastDate = pd.to_datetime(df['Date'].iloc[-1])
    predictions = predictWithExponentialSmoothing(values, alpha, forecast_horizon)

    futureDates = []
    futureValues = []
    futureExpSmooths = []

    for i in range(forecast_horizon):
        newDate = lastDate + relativedelta(months=i+1)
        futureDates.append(newDate.strftime('%Y-%m-%d'))
        futureValues.append(np.nan)
        futureExpSmooths.append(predictions[i])

    futureDf = pd.DataFrame({
        'Date': futureDates,
        'Value': futureValues,
        'ExpSmooth': futureExpSmooths
    })

    extendedDf = pd.concat([df, futureDf], ignore_index=True)

    print(evaluateModel(df, "ExpSmooth"), "\n")
    print(extendedDf.to_string())
    return extendedDf

In [29]:
df = execExponentialSmoothing(alpha=0.3, forecast_horizon=12)
df

{'mse': 2.6153383702304565, 'rmse': 1.6172007822872385, 'mae': 1.4726006242587604, 'mape': 0.3616219155351945}

           Date   Value   ExpSmooth
0    2010-01-01  388.91  388.910000
1    2010-02-01  390.41  389.360000
2    2010-03-01  391.37  389.963000
3    2010-04-01  392.67  390.775100
4    2010-05-01  393.21  391.505570
5    2010-06-01  392.38  391.767899
6    2010-07-01  390.41  391.360529
7    2010-08-01  388.54  390.514371
8    2010-09-01  387.03  389.469059
9    2010-10-01  387.43  388.857342
10   2010-11-01  388.87  388.861139
11   2010-12-01  389.99  389.199797
12   2011-01-01  391.50  389.889858
13   2011-02-01  392.05  390.537901
14   2011-03-01  392.80  391.216530
15   2011-04-01  393.44  391.883571
16   2011-05-01  394.41  392.641500
17   2011-06-01  393.95  393.034050
18   2011-07-01  392.72  392.939835
19   2011-08-01  390.33  392.156884
20   2011-09-01  389.28  391.293819
21   2011-10-01  389.19  390.662673
22   2011-11-01  390.48  390.607871
23   2011-12-01  392.06  391.043510
24   2012-01-01  393.31  391.723457
25   2012-02-01  394.04  392.418420
26   2012-03-01  394.59  393.069894
27   2012-04-01  396.38  394.062926
28   2012-05-01  396.93  394.923048
29   2012-06-01  395.91  395.219134
30   2012-07-01  394.56  395.021394
31   2012-08-01  392.59  394.291975
32   2012-09-01  391.32  393.400383
33   2012-10-01  391.27  392.761268
34   2012-11-01  393.20  392.892888
35   2012-12-01  394.57  393.396021
36   2013-01-01  395.78  394.111215
37   2013-02-01  397.03  394.986850
38   2013-03-01  397.66  395.788795
39   2013-04-01  398.64  396.644157
40   2013-05-01  400.02  397.656910
41   2013-06-01  398.81  398.002837
42   2013-07-01  397.51  397.854986
43   2013-08-01  395.39  397.115490
44   2013-09-01  393.72  396.096843
45   2013-10-01  393.90  395.437790
46   2013-11-01  395.36  395.414453
47   2013-12-01  397.03  395.899117
48   2014-01-01  398.04  396.541382
49   2014-02-01  398.27  397.059967
50   2014-03-01  399.91  397.914977
51   2014-04-01  401.51  398.993484
52   2014-05-01  401.96  399.883439
53   2014-06-01  401.43  400.347407
54   2014-07-01  399.27  400.024185
55   2014-08-01  397.18  399.170930
56   2014-09-01  395.54  398.081651
57   2014-10-01  396.16  397.505155
58   2014-11-01  397.40  397.473609
59   2014-12-01  399.08  397.955526
60   2015-01-01  400.18  398.622868
61   2015-02-01  400.55  399.201008
62   2015-03-01  401.74  399.962705
63   2015-04-01  403.35  400.978894
64   2015-05-01  404.15  401.930226
65   2015-06-01  402.97  402.242158
66   2015-07-01  401.46  402.007511
67   2015-08-01  399.11  401.138257
68   2015-09-01  397.82  400.142780
69   2015-10-01  398.49  399.646946
70   2015-11-01  400.27  399.833862
71   2015-12-01  402.06  400.501704
72   2016-01-01  402.73  401.170193
73   2016-02-01  404.25  402.094135
74   2016-03-01  405.06  402.983894
75   2016-04-01  407.60  404.368726
76   2016-05-01  407.90  405.428108
77   2016-06-01  406.99  405.896676
78   2016-07-01  404.59  405.504673
79   2016-08-01  402.45  404.588271
80   2016-09-01  401.23  403.580790
81   2016-10-01  401.79  403.043553
82   2016-11-01  403.72  403.246487
83   2016-12-01  404.64  403.664541
84   2017-01-01  406.36  404.473179
85   2017-02-01  406.65  405.126225
86   2017-03-01  407.53  405.847358
87   2017-04-01  409.22  406.859150
88   2017-05-01  409.89  407.768405
89   2017-06-01  409.08  408.161884
90   2017-07-01  407.33  407.912319
91   2017-08-01  405.32  407.134623
92   2017-09-01  403.57  406.065236
93   2017-10-01  403.82  405.391665
94   2017-11-01  405.31  405.367166
95   2017-12-01  407.00  405.857016
96   2018-01-01  408.15  406.544911
97   2018-02-01  408.52  407.137438
98   2018-03-01  409.59  407.873206
99   2018-04-01  410.45  408.646245
100  2018-05-01  411.44  409.484371
101  2018-06-01  410.99  409.936060
102  2018-07-01  408.90  409.625242
103  2018-08-01  407.16  408.885669
104  2018-09-01  405.71  407.932969
105  2018-10-01  406.19  407.410078
106  2018-11-01  408.21  407.650055
107  2018-12-01  409.27  408.136038
108  2019-01-01  411.03  409.004227
109  2019-02-01  411.96  409.890959
110  2019-03-01  412.18  410.577671
111  2019-04-01  413.54  411.466370
112  2019-05-01  414.86  412.484459
113  2019-06-01  414.15  412.984121
114  2019-07-01  411.96  412.676885
115  2019-08-01  410.17  411.924819
116  2019-09-01  408.76  410.975374
117  2019-10-01  408.74  410.304761
118  2019-11-01  410.47  410.354333
119  2019-12-01  411.97  410.839033
120  2020-01-01  413.59  411.664323
121  2020-02-01  414.32  412.461026
122  2020-03-01  414.72  413.138718
123  2020-04-01  416.42  414.123103
124  2020-05-01  417.28  415.070172
125  2020-06-01  416.58  415.523120
126  2020-07-01  414.58  415.240184
127  2020-08-01  412.75  414.493129
128  2020-09-01  411.50  413.595190
129  2020-10-01  411.49  412.963633
130  2020-11-01  413.10  413.004543
131  2020-12-01  414.23  413.372180
132  2021-01-01  415.49  414.007526
133  2021-02-01  416.72  414.821268
134  2021-03-01  417.61  415.657888
135  2021-04-01  419.01  416.663521
136  2021-05-01  419.09  417.391465
137  2021-06-01  418.93  417.853026
138  2021-07-01  416.90  417.567118
139  2021-08-01  414.42  416.622983
140  2021-09-01  413.26  415.614088
141  2021-10-01  413.90  415.099861
142  2021-11-01  414.97  415.060903
143  2021-12-01  416.67  415.543632
144  2022-01-01  418.13  416.319542
145  2022-02-01  419.24  417.195680
146  2022-03-01  418.76  417.664976
147  2022-04-01  420.19  418.422483
148  2022-05-01  420.97  419.186738
149  2022-06-01  420.94  419.712717
150  2022-07-01  418.85  419.453902
151  2022-08-01  417.15  418.762731
152  2022-09-01  415.91  417.906912
153  2022-10-01  415.74  417.256838
154  2022-11-01  417.47  417.320787
155  2022-12-01  418.99  417.821551
156  2023-01-01  419.47  418.316086
157  2023-02-01  420.31  418.914260
158  2023-03-01  420.99  419.536982
159  2023-04-01  423.31  420.668887
160  2023-05-01  424.00  421.668221
161  2023-06-01  423.68  422.271755
162  2023-07-01  421.83  422.139228
163  2023-08-01  419.68  421.401460
164  2023-09-01  418.50  420.531022
165  2023-10-01  418.82  420.017715
166  2023-11-01  420.46  420.150401
167  2023-12-01  421.86  420.663281
168  2024-01-01  422.80  421.304296
169  2024-02-01  424.55  422.278007
170  2024-03-01  425.38  423.208605
171  2024-04-01  426.51  424.199024
172  2024-05-01  426.90  425.009317
173  2024-06-01  426.91  425.579522
174  2024-07-01  425.55  425.570665
175  2024-08-01  422.99  424.796466
176  2024-09-01  422.03  423.966526
177  2024-10-01  422.38  423.490568
178  2024-11-01  423.85  423.598398
179  2024-12-01  425.40  424.138878
180  2025-01-01  426.65  424.892215
181  2025-02-01  427.09  425.551550
182  2025-03-01  428.15  426.331085
183  2025-04-01  429.64  427.323760
184  2025-05-01     NaN  427.323760
185  2025-06-01     NaN  427.323760
186  2025-07-01     NaN  427.323760
187  2025-08-01     NaN  427.323760
188  2025-09-01     NaN  427.323760
189  2025-10-01     NaN  427.323760
190  2025-11-01     NaN  427.323760
191  2025-12-01     NaN  427.323760
192  2026-01-01     NaN  427.323760
193  2026-02-01     NaN  427.323760
194  2026-03-01     NaN  427.323760
195  2026-04-01     NaN  427.323760

           Date   Value  ExpSmooth
0    2010-01-01  388.91  388.91000
1    2010-02-01  390.41  389.36000
2    2010-03-01  391.37  389.96300
3    2010-04-01  392.67  390.77510
4    2010-05-01  393.21  391.50557
..          ...     ...        ...
191  2025-12-01     NaN  427.32376
192  2026-01-01     NaN  427.32376
193  2026-02-01     NaN  427.32376
194  2026-03-01     NaN  427.32376
195  2026-04-01     NaN  427.32376

[196 rows x 3 columns]

In [31]:
# Export it
outPath = "D:/Coding College/statistika-final-proj-main/exponential-smoothing-data.csv"
df.to_csv(outPath, index=False)

df

           Date   Value  ExpSmooth
0    2010-01-01  388.91  388.91000
1    2010-02-01  390.41  389.36000
2    2010-03-01  391.37  389.96300
3    2010-04-01  392.67  390.77510
4    2010-05-01  393.21  391.50557
..          ...     ...        ...
191  2025-12-01     NaN  427.32376
192  2026-01-01     NaN  427.32376
193  2026-02-01     NaN  427.32376
194  2026-03-01     NaN  427.32376
195  2026-04-01     NaN  427.32376

[196 rows x 3 columns]